{{ form_start(form) }}
   
   
<div class="form-row">
    <div class="form-group col-md-20">
        <i class="fa fa-calendar"></i> 
        {{ form_label(form.name )  }}
        {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}
        <small>{{ form_help(form.name) }}</small>
        <div class="form-error">
        {{ form_errors(form.name) }}
        </div>
    </div>
   
    <div class="form-group col-md-20">
             <i class="fa fa-calendar"></i> 

        {{ form_label(form.image) }}
        {{ form_widget(form.image, { 'attr': { 'class': 'form-control' } }) }}

        <small>{{ form_help(form.image) }}</small>

        <div class="form-error">
            {{ form_errors(form.image) }}
        </div>
    </div>
    
   
     

   
      <div class="form-group col-md-6">

   <br> <button class="primary-btn ml-sm-4 ml-0">{{ button_label|default('Save') }}</button>
   </div>

</div>
{{ form_end(form) }}
