 <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{{asset('montemplete/img/favicon.png')}}" type="image/png" />
    <title>Book</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('montemplete/css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{asset('montemplete/css/flaticon.css')}}" />
    <link rel="stylesheet" href="{{asset('montemplete/css/themify-icons.css')}}" />
    <link rel="stylesheet" href="{{asset('montemplete/vendors/owl-carousel/owl.carousel.min.css')}}" />
    <link rel="stylesheet" href="{{asset('montemplete/vendors/nice-select/css/nice-select.css')}}" />
    <!-- main css -->
    <link rel="stylesheet" href="{{asset('montemplete/css/style.css')}}" />
  </head>
{% block body %} 
 
 
 {% endblock %}
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{asset('montemplete/js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('montemplete/js/popper.js')}}"></script>
    <script src="{{asset('montemplete/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('montemplete/vendors/nice-select/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{asset('montemplete/vendors/owl-carousel/owl.carousel.min.js')}}"></script>
    <script src="{{asset('montemplete/js/owl-carousel-thumb.min.js')}}"></script>
    <script src="{{asset('montemplete/js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{asset('montemplete/js/mail-script.js')}}"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="{{asset('montemplete/js/gmaps.min.js')}}"></script>
    <script src="{{asset('montemplete/js/theme.js')}}"></script>
  </body>
</html>

